[Unit]
Description=simple and lightweight fan control program
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/thinkfan
PIDFile=/var/run/thinkfan.pid
ExecReload=/bin/kill -HUP $(</var/run/thinkfan.pid)

[Install]
WantedBy=multi-user.target


