[Unit]
Description=Thinkfan, the minimalist fan control program

[Service]
Type=forking
ExecStart=/usr/local/sbin/thinkfan $THINKFAN_ARGS
PIDFile=/run/thinkfan.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Also=thinkfan-wakeup.service
