[Unit]
Description=Reload thinkfan after waking up from suspend
After=sysinit.target
After=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill -usr2 thinkfan

[Install]
WantedBy=sleep.target
